.infoStats {
    margin-bottom: 5px;
}

.infoStats__card {
    flex: 1;
    margin-bottom: 10px;
    cursor: pointer;
}

.infoStats__card--selected {
    border-top: 10px solid greenyellow;
}

.infoStats__card--red {
    border-color: red;
}

.infoStats__card__cases--green {
    color: lightgreen !important;
}

.infoStats__card__cases {
    color: #CC1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoStats__card__today{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

.statsFooter {
    font-size: 0.75rem;
    line-height: 1;
    margin-bottom: 20px;
}

@media (min-width: 900px) {
    .infoStats {
        display: flex;
        justify-content: space-between;
    }
    
    .infoStats__card:not(:first-child) {
        margin-left: 15px;
    }
}