.infoStats {
    margin-bottom: 5px;
}

.infoStats__card {
    margin-bottom: 10px;
}

.statsFooter {
    font-size: 0.75rem;
    line-height: 1;
    margin-bottom: 20px;
}

@media (min-width: 900px) {
    .infoStats {
        display: flex;
        justify-content: space-between;
    }
    
    .infoStats__card {
        margin-left: 10px;
    }

    .infoStats__card:first-child {
        margin-left: 0;
    }
}