* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: #edf2f4;
    justify-content: space-evenly;
}

.app {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.app__left {
    flex: 0.9;
}

.app__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.app__dropdown {
    flex: none;
}

.infoStats {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .app {
        flex-direction: column;
    }

    .infoStats {
        flex-direction: column;
        .infoStats__card {
            margin-bottom: 5px;
        }
    }
}